{% extends 'base_generic.html' %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-yellow-500">Hệ thống quản lý kho The Shea - Dashboard</h1>
    
    <!-- Nhúng Tableau Dashboard -->
    <div class="tableau-container">
        <div class="tableauPlaceholder" id="viz1733547455492" style="position: relative; width: 100%; height: 100%;">
            <noscript>
                <a href="#">
                    <img alt="Dashboard 3" src="https://public.tableau.com/static/images/WM/WMS-Cap2/Dashboard3/1_rss.png" style="border: none;" />
                </a>
            </noscript>
            <object class="tableauViz" style="display:none; width: 100%; height: 100%;">
                <param name="host_url" value="https://public.tableau.com/" />
                <param name="embed_code_version" value="3" />
                <param name="site_root" value="" />
                <param name="name" value="WMS-Cap2/Dashboard3" />
                <param name="tabs" value="no" />
                <param name="toolbar" value="yes" />
                <param name="static_image" value="https://public.tableau.com/static/images/WM/WMS-Cap2/Dashboard3/1.png" />
                <param name="animate_transition" value="yes" />
                <param name="display_static_image" value="yes" />
                <param name="display_spinner" value="yes" />
                <param name="display_overlay" value="yes" />
                <param name="display_count" value="yes" />
                <param name="language" value="en-US" />
                <param name="filter" value="publish=yes" />
            </object>
        </div>
    </div>
    
    <script type="text/javascript">
        var divElement = document.getElementById('viz1733547455492');
        var vizElement = divElement.getElementsByTagName('object')[0];
        
        // Adjust the size based on the width of the container
        if (divElement.offsetWidth > 800) {
            vizElement.style.width = '100%';    // Full width for larger screens
            vizElement.style.height = '627px';  // Height for larger screens
        } else if (divElement.offsetWidth > 500) {
            vizElement.style.width = '100%';    // Full width for medium screens
            vizElement.style.height = '627px';  // Height for medium screens
        } else {
            vizElement.style.width = '100%';    // Full width for smaller screens
            vizElement.style.height = '1227px'; // Larger height for smaller screens for better visibility
        }
    
        // Load the Tableau JavaScript API for interaction
        var scriptElement = document.createElement('script');
        scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
        vizElement.parentNode.insertBefore(scriptElement, vizElement);
    </script>
    
    
{% endblock %}
