{% extends 'base_generic.html' %}

{% block content %}
<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4 text-yellow-500">Danh sách Đơn Nhập Kho</h1>

    <div class="overflo w-x-auto">
        <table class="min-w-full bg-white rounded-lg shadow-md mt-6">
            <thead class="text-xs text-gray-700 uppercase bg-blue-800 dark:bg-gray-900 dark:text-gray-100">
                <tr class="text-white">
                    <th class="px-4 py-2"style="width: 250px">ID Đơn Nhập Kho</th>
                    <th class="px-4 py-2">Ngày Nhập Kho</th>
                    
                    <th class="px-4 py-2">Chi tiết</th>
                </tr>
            </thead>
            <tbody class="text-sm text-gray-800 text-center">
                {% for order in danh_sach_don_nhap %}
                <tr class="odd:bg-[#F2E7C3] odd:dark:bg-gray-900 even:bg-[#D1ECF1] even:dark:bg-gray-800 border-b dark:border-gray-700 hover:bg-[#E6B849]">
                    <td class="px-4 py-2 font-medium">{{ order.id }}</td>
                    <td class="px-4 py-2 font-medium">{{ order.ngay_dat_hang|date:"d/m/Y H:i" }}</td>
                    
                    <td class="px-4 py-2 font-medium">
                        <a href="{% url 'chi_tiet_don_nhap_kho' order.id %}" class="text-blue-500 hover:underline">
                            Xem Chi Tiết
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4" class="text-center px-4 py-2">Không có đơn nhập kho nào.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
